@charset "utf-8";

@import url("estilosPrincipales.css");

#cuerpo{
    /*Display*/
    justify-content: space-around;
    align-items: stretch;
}

main{
    /*Caja*/
    width: 90%;
    padding: 30px;
    box-sizing: border-box;
    /*Colores*/
    background-color: white;
}

main > p{
    text-align: justify;
}

main > div{
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    /*Caja*/
    margin-top: 40px;
}

form{
    /*Display*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 10px;
    /*Caja*/
    padding: 20px;
    min-width: 500px;
    /*Colores*/
    background-color: var(--color-secundario);
}

@media (max-width: 700px){
    form{
        min-width: 100px;
        width: 100%;
        flex-basis: auto;
    }
}

.inputNormal, form > label, form > div{
    /*Display*/
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    box-sizing: border-box;
    /*Caja*/
    width: 50%;
}

@media (max-width: 700px){
    .inputNormal, form > label, form > div{
        width: 100%;
    }
}

.inputNormal{
    /*Caja*/
    margin-top: 5px;
    border-radius: 10px;
}

form label{
    /*Caja*/
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    /*Colores*/
    color: white;
    /*Texto*/
    font-weight: 500;
    font-size: 1.1rem;
    text-align: end;
}

form input{
    /*Caja*/
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    /*Texto*/
    font-family: var(--fuente-primaria), var(--fuente-primaria-alt1), var(--fuente-primaria-alt2);
    font-weight: normal;
    font-size: 1rem;
}

form input:focus, form button:focus{
    outline-color: var(--color-primario);
    outline-offset: -2px;
    outline-style: dashed;
    outline-width: 1px;
}

form > div{
    /*Display*/
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    /*Caja*/
    margin-top: 5px;
}

.campoConBoton{
    /*Display*/
    display: flex;
    overflow: hidden;
    /*Caja*/
    width: 100%;
    border-style: solid;
    border-color: #767676;
    border-width: 1px;
    border-radius: 10px;
}


.campoConBoton input{
    /*Display*/
    flex-grow: 7;
    flex-shrink: 7;
    flex-basis: 0;
    /*Caja*/
    border-width: 0px;
}

.campoConBoton button{
    /*Display*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    /*Caja*/
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-radius: 0px;
}

#botonSubmit{
    /*Caja*/
    border-style: solid;
    border-width: 0px;
    width: 100%;
}

@keyframes colorearBoton{
    from{}
    to{
        /*Colores*/
        color: white;
        background-color: var(--color-terciario);
    }
}

form button:hover, #botonSubmit:hover{
    /*Display*/
    cursor: pointer;
    /*Animacion*/
    animation-name: colorearBoton;
    animation-duration: 0.1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

main > div > img{
    /*Display*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    /*Caja*/
    min-width: 300px;
    max-width: 500px;
}

@media (max-width: 700px){
    main > div > img{
        /*Caja*/
        min-width: 0px;
    }
}