@charset "utf-8";

@import url("estilosPrincipales.css");

header{
    /*Display*/
    z-index: 100;
}

#cuerpo{
    /*Display*/
    column-gap: 10px;
}

aside{
    /*Display*/
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: 0;
    /*Caja*/
    padding-top: 10px;
    padding-bottom: 10px;
    /*Colores*/
    background-color: white;
}

aside h1{
    /*Caja*/
    margin-left: 10px;
    margin-right: 10px;
    min-width: 296px;
}

ul{
    /*Caja*/
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 0px;
    /*Texto*/
    list-style-type: none;
    /*Colores*/
    background-color: var(--color-primario);
}

ul div form{
    /*Display*/
    display: flex;
    justify-content: center;
    /*Caja*/
    padding: 10px;
    /*Colores*/
    background-color: white;
}

ul div form input[type=submit]{
    /*Colores*/
    background-color: var(--color-fondo);
}

ul div form input[type=submit]:hover{
    /*Display*/
    cursor: pointer;
    /*Colores*/
    background-color: var(--color-secundario);
    color: white;
}

ul div form input{
    /*Caja*/
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    /*Texto*/
    font-family: var(--fuente-primaria), var(--fuente-primaria-alt1), var(--fuente-primaria-alt2);
    font-weight: normal;
    font-size: 1rem;
}

ul div form input:focus{
    outline-color: var(--color-primario);
    outline-offset: -2px;
    outline-style: dashed;
    outline-width: 1px;
}

ul button{
    /*Display*/
    display: flex;
    justify-content: space-between;
    /*Caja*/
    width: 100%;
    border-radius: 0px;
    border-width: 0px;
    padding: 10px;
    /*Colores*/
    color: white;
    background-color: var(--color-primario);
    /*Texto*/
    font-family: var(--fuente-primaria), var(--fuente-primaria-alt1), var(--fuente-primaria-alt2);
    font-weight: 500;
    font-size: 1.1rem;
}

ul button:hover{
    /*Display*/
    cursor: pointer;
}

ul button img{
    /*Display*/
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    /*Caja*/
    height: 1.5rem;
    margin-left: 5px;
}

ul button img{
    transition: transform 0.4s;
}

ul button img.rotate{
    position: static;
    transform: rotate(180deg);
}


ul li .tit-show,
ul li .aut-show,
ul li .ins-show,
ul li .pc-show,
ul li .dir-show,
ul li .sin-show,
ul li .ano-show{
    display: none;
}

ul li .tit-show.show1,
ul li .aut-show.show2,
ul li .ins-show.show3,
ul li .pc-show.show4,
ul li .dir-show.show5,
ul li .sin-show.show6,
ul li .ano-show.show7{
  display: block;
}

main{
    /*Display*/
    flex-grow: 10;
    flex-shrink: 10;
    flex-basis: 0;
    background-color: white;
    /*Caja*/
    padding: 40px;
}