@charset "utf-8";

@import url("reglasDeImportaciónDeFuentes.css");

:root{
    /*VARIABLES*/
    /*Colores*/
    --color-fondo: #9999ff;
    --color-primario: #333399;
    --color-secundario: #505080;
    /*Fuentes primarias*/
    --fuente-primaria: 'Raleway';
    --fuente-primaria-alt1: Verdana;
    --fuente-primaria-alt2: sans-serif;
    /*Fuentes secundarias*/
    --fuente-secundaria: 'Segoe UI';
    --fuente-secundaria-alt1: Arial;
    --fuente-secundaria-alt2: sans-serif;
}

html{
    writing-mode: horizontal-tb;
}

body, h1{
    margin: 0px;
    padding: 0px;
}

header{
    /*Display*/
    position: sticky;
    top: 0px;
}

header nav{
    /*Display*/
    display: flex;
    /*Caja*/
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    /*Colores*/
    background-color: var(--color-primario);
}

#logoSAPYENTIA{
    /*Display*/
    display: block;
    /*Caja*/
    height: 40px;
}

#cuerpo{
    /*Display*/
    display: flex;
    /*Caja*/
    min-height: 90vh;
    /*Colores*/
    background-color: var(--color-fondo);
    /*Texto*/
    font-family: var(--fuente-primaria), var(--fuente-primaria-alt1), var(--fuente-primaria-alt2);
}

footer{
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Caja*/
    min-height: 10vh;
    /*Colores*/
    background-color: var(--color-secundario);
    color: white;
    /*Texto*/
    font-family: var(--fuente-primaria), var(--fuente-primaria-alt1), var(--fuente-primaria-alt2);
    font-weight: 300;
    font-style: italic;
}

footer p{
    text-align: center;
}